body {
    background-color: gray;
}
/* Atividade 1 */
.azul {
    height: 98vh;
    width: 100vh;
    background-color: blue;
    margin: auto;
}
.vermelha {
    height: 75vh;
    width: 75vh;
    background-color: red;
    position: relative;
    margin: auto;
    top: 11.5vh;
}
.preta {
    height: 50vh;
    width: 50vh;
    background-color: black;
    position: relative;
    margin: auto;
    top: 12.5vh;
}
.verde {
    height: 25vh;
    width: 25vh;
    background-color: green;
    position: relative;
    margin: auto;
    top: 12.5vh;
}
.amarela {
    height: 12.5vh;
    width: 12.5vh;
    background-color: yellow;
    position: relative;
    margin: auto;
    top: 6.25vh;
}
/* Atividade 2 */
.blocos {
    width: 35vh;
    height: 35vh;
    background-color: black;
    position: fixed;
}
.bloco1 {
    top: 0;
    left: 0;
}
.bloco2 {
    top: 0;
    right: 0;
}
.bloco3 {
    bottom: 0;
    left: 0;
}
.bloco4 {
    bottom: 0;
    right: 0;
}
/* Atividade 3 */
.textos {
    float: left;
    background-color: black;
    color: lightgray;
    text-align: right;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.texto1 {
    border-radius: 25px;
    padding: 15px;
    margin: 30px;
}
.texto2 {
    margin: 30px;
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
}
/* Atividade 4 */
.caixas {
    background-color: black;
    height: 19vh;
    width: 19vh;
    position: absolute;
}
.caixa1 {
    top: 0;
    left: 0;
    position: fixed;
}
.caixa2 {
    left: 20vh;
}
.caixa3 {
    left: 40vh;
}
.caixa4 {
    top: 20vh;
}
.caixa5 {
    top: 20vh;
    left: 20vh;
}
.caixa6 {
    top: 40vh;
}
.caixa7 {
    bottom: 0;
    right: 0;
    position: fixed;
}
.caixa8 {
    right: 20vh;
}
.caixa9 {
    right: 40vh;
}
.caixa10 {
    bottom: 20vh;
}
.caixa11 {
    bottom: 20vh;
    right: 20vh;
}
.caixa12 {
    bottom: 40vh;
}
